<!DOCTYPE html>
<body>
    <header>
        <h1>Tech Blog</h1>
        <script> src='/script.js'</script>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        &copy; {{ year }} Tech Blog
    </footer>
</body>
